@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300,400,700')
base_font = 'Open Sans', 'Helvetica Neue', 'Helvetica'
mono_font = 'Droid Sans Mono', 'Monaco', 'Menlo', 'Courier New', monospace
phone_max = 641px
md_max = 992px

@import "colors"

html::-webkit-scrollbar
  display none

body
  margin-top 50px
  padding-top 40px
  font-family base_font
  background sol_background
  //- phone
  @media (max-width: phone_max) {
    font-size 12px
  }

.bold
  font-weight bold

.modal
  margin-top 50px

ul.commands > li > span.keyboard:first-child
  margin-left 0

span.keyboard
  font-weight bold
  border 1px solid #ccc
  border-radius 3px
  padding 0.5px 5px
  margin 0 2px

.centered
  text-align center

.col-centered
  display inline-block
  float none
  //- Reset the text-align.
  text-align left
  //- Inline-block space fix.
  margin-right -4px

.module-title
  font-size 160%
  text-align center
  margin 0 0 15px 0

section
  margin-bottom 15px
  margin-top 10px
  .module-title
    margin-bottom 25px
    @media (max-width: phone_max) {
      margin-bottom 10px
    }

.control-panel
  .vphi-label
    margin-bottom 1ex
    margin-top 1ex
  .control-group
    .btn-group
      margin-bottom 15px

.number-2
  width 3.0em

.number-7
  width 6.8em

.number-2, .number-7
  letter-spacing 0.2ex

.node-list
  display inline-block
  padding 0
  margin 0 8px
  line-height 1
  > li
    display inline-block
    margin 0.1ex 0.3ex
    padding 0.6ex 1.1ex
    vertical-align middle
    font-weight bold
    border-radius 5px
    color sol_background
    background sol_base1
    border 1px solid darken(sol_base1, 10)
    &.on
      background sol_cyan
      border 1px solid darken(sol_cyan, 5)
  &.secondary
    margin 0
    > li
      color inherit
      border 1px solid #ddd
      background sol_background

.vphi-label
  display inline-block
  font-size 120%
  line-height 100%
  vertical-align middle
  text-align right
  margin 0 0.6em 1ex 0.6em

.vphi-value
  background sol_background
  border 1px solid #ddd
  border-radius 5px
  text-align center
  display inline-block
  padding 6px 10px

.btn-primary
  background sol_cyan

canvas, svg
  border-radius 5px

svg
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

@import "graph-editor"
@import "concept-space"
@import "main-control"
@import "output-summary"
@import "concept-list"
@import "tetromino"
