@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:300,400,700')
base_font = 'Open Sans', 'Helvetica Neue', 'Helvetica'
mono_font = 'Droid Sans Mono', 'Monaco', 'Menlo', 'Courier New', monospace

@import "colors"


body
  font-family base_font
  padding-top 50px
  background sol_background

ul
  padding-top 15px
  li
    margin 5px 0

.bold
  font-weight bold

span.keyboard
  font-weight bold
  background #ccc
  border-radius 3px
  padding 0.5px 6px

.row-centered
  text-align center

.col-centered
  display inline-block
  float none
  // reset the text-align
  text-align left
  // inline-block space fix
  margin-right -4px

.module-title
  font-size 160%
  text-align center
  margin 0 0 15px 0

section
  margin-bottom 15px
  margin-top 10px
  .module-title
    margin-bottom 25px

.control-panel
  .control-label
    font-size 120%
    padding-top 10px
    padding-bottom 10px

.number-2
  width 3em

.number-7
  width 6em

.number-2, .number-7
  background sol_background
  border 1px solid #ddd
  border-radius 5px
  padding 6px 10px
  text-align center
  display inline-block

.btn-primary
  background sol_cyan

.control-panel
  margin 10px 0 10px 0

.output-label
  display inline-block
  font-size 120%
  text-align right
  margin-right 15px

canvas, svg
  border-radius 5px

svg
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

@import "graph-editor"
@import "concept-space"
@import "main-control"
@import "output-summary"
@import "concept-list"
@import "tetromino"
