//- Lighter version of base3
sol_background = #fffdf9

sol_base03 =  rgb(  0,  43,  54)
sol_base02 =  rgb(  7,  54,  66)
sol_base01 =  rgb( 88, 110, 117)
sol_base00 =  rgb(101, 123, 131)
sol_base0 =   rgb(131, 148, 150)
sol_base1 =   rgb(147, 161, 161)
sol_base2 =   rgb(238, 232, 213)
sol_base3 =   rgb(253, 246, 227)
sol_yellow =  rgb(181, 137,   0)
sol_orange =  rgb(203,  75,  22)
sol_red =     rgb(220,  50,  47)
sol_magenta = rgb(211,  54, 130)
sol_violet =  rgb(108, 113, 196)
sol_blue =    rgb( 38, 139, 210)
sol_cyan =    rgb( 42, 161, 152)
sol_green =   rgb(133, 153,   0)
