// concept-list.styl

#concept-list-module
  text-align center
  h3
    margin-bottom 35px

  .concept-data
    margin-bottom 35px

  .output-label
    display inline-block
    font-size 120%
    text-align right
    margin-right 15px
