// concept-space.styl

#concept-space-module
  .control-panel
    padding-top 10px

#concept-space-container
  position relative

#concept-space-overlay
  z-index 10
  display block
  position absolute
  height 100%
  top 0
  left 0
  right 0
  background rgba(255, 255, 255, 0.3)
