// graph-editor.styl

#graph-editor-help
  ul
    padding-top 0
    li
      margin 7px 0

#graph-editor-module

  padding-bottom 21px

  #graph-editor-container
    margin-bottom 17px

  .control-panel
    text-align right
    float right
    width 60%

  #show-help
    float left


  ul#possible-past-states,
    text-align center
    margin-top 13px
    font-family mono_font

  #past-state-chooser
    font-family mono_font
    text-align center
    #current-past-state
      display inline-block
      width 200px
    #possible-past-states
      text-align center
    span.caret
      margin-left 15px

  #no-possible-past-states
    width 249px
    opacity 1
    background lighten(sol_red, 80%)

  svg
    background black
    &:not(.active):not(.shiftkey)
      cursor crosshair
      path
        &.link
          cursor pointer

  path.link
    fill none
    stroke-width 6px
    cursor default
    opacity 0.7
    &.focused
      opacity 1
    &.dragline
      pointer-events none
    &.hidden
      stroke-width 0

  circle.node
    stroke none
    cursor pointer
    &.reflexive
      stroke sol_background !important

  circle.subsystem-marker
    stroke none
    stroke sol_background
    stroke-width 2px
    stroke-dasharray 7
    fill none

  text
    font 12px 'Helvetica Neue', sans-serif
    pointer-events none
    &.node-label
      text-anchor middle
      &.id
        font 14px 'Helvetica Neue', sans-serif
        font-weight bold

  rect.selection-box
    stroke #fff
    stroke-width 2
    stroke-dasharray 6, 8
    stroke-opacity 0.5
    fill none
