// graph-editor.styl

#graph-editor-module

  #graph-editor-container
    margin-bottom 20px

  .form-group
    margin-bottom 0

  .form-horizontal
    .control-label
      padding-top 5px
      text-align right

  svg
    background #000
    &:not(.active):not(.shiftkey)
      cursor crosshair
      path
        &.link
          cursor pointer

  path.link
    fill none
    stroke-width 5px
    cursor default
    opacity 0.7
    &.selected
      stroke-dasharray 10, 3
    &.dragline
      pointer-events none
    &.hidden
      stroke-width 0

  circle.node
    stroke-width 1.5px
    cursor pointer
    &.reflexive
      stroke #444 !important
      stroke-width 3.5px

  text
    font 12px 'Helvetica Neue', sans-serif
    pointer-events none
    &.node-label
      text-anchor middle
      &.id
        font 14px 'Helvetica Neue', sans-serif
        font-weight bold

  ul#possible-past-states
    font-family mono_font
    text-align center

  #past-state-chooser
    text-align center
    #selected-past-state
      display inline-block
      width 150px
      font-family mono_font
    span.caret
      margin-left 15px
