// graph-editor.styl

#graph-editor-help
  ul
    padding-top 0
    li
      margin 7px 0

#graph-editor-module

  padding-bottom 21px

  #graph-editor-container
    margin-bottom 17px

  .control-panel
    text-align right
    float right
    width 60%

  #show-help
    float left

  ul#possible-past-states
    margin-top 13px
    font-family mono_font
    text-align center

  #past-state-chooser
    text-align center
    #selected-past-state
      display inline-block
      width 200px
      font-family mono_font
    span.caret
      margin-left 15px


  svg
    background #000
    &:not(.active):not(.shiftkey)
      cursor crosshair
      path
        &.link
          cursor pointer

  path.link
    fill none
    stroke-width 5px
    cursor default
    opacity 0.7
    &.selected
      stroke-dasharray 10, 3
    &.dragline
      pointer-events none
    &.hidden
      stroke-width 0

  circle.node
    stroke-width 1.5px
    cursor pointer
    &.reflexive
      stroke sol_background !important
      stroke-width 4.5px

  text
    font 12px 'Helvetica Neue', sans-serif
    pointer-events none
    &.node-label
      text-anchor middle
      &.id
        font 14px 'Helvetica Neue', sans-serif
        font-weight bold
