// main-control.styl

#main-control-module

  margin-bottom 20px

  text-align center

  .btn-primary
    background sol_blue
    font-size 140%
    margin 7px 15px
    height 50px

  .btn-warning
    margin-bottom 10px

  #btn-main-complex
    width 225px

  #btn-selected-subsystem
    width 225px
