// main-control.styl

#main-control-module

  text-align center

  .btn
    background sol_blue
    font-size 140%
    margin 7px 15px
    height 50px

  #btn-main-complex
    width 225px

  #btn-selected-subsystem
    width 225px
