// output-summary.styl

#output-summary-module

  .module-title
    $h = 40px
    line-height $h
    height $h
    margin-bottom 10px
    .vphi-value
      line-height 1
      margin-left 0.5ex

  .vphi-label
    margin-bottom 0
    margin-left 0

  .summary-items
    display inline-block
    text-align center
    margin-top 15px
    padding 0 0 15px 0
    .item
      vertical-align middle
      display inline-block
      margin 15px 15px 0 15px
      padding 10px 13px

  #minimal-cut
    padding 11px 13px
    .node-list
      font-size 110%
    .cut-symbol
      vertical-align middle
      font-size 160%
      margin 0 1ex

  #phi-value
    font-weight bold

  #elapsed-time
    text-align center
