// output-summary.styl

#output-summary-module

  .module-title
    $h = 40px
    line-height $h
    height $h

  .summary-items
    text-align center
    .item
      display inline-block
      margin 15px 15px

  #minimal-cut

    .value
      letter-spacing 0.5ex

    .cut-symbol
      font-size 160%
      vertical-align middle
      margin 0 1ex


  #phi-value
    font-weight bold
    [class^=number]
      width 120px
      letter-spacing .25ex
