// output-summary.styl

#output-summary-module

  font-size 150%

  .summary-items
    text-align center
    .item
      display inline-block
      margin 15px 15px

    #minimal-cut
      width 175px
