doctype html
html(lang='en' ng-app="vphi")
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')
  title Calculate Φ

  //- TODO load minified versions

  //- Online/Offline
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  //- link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet', type='text/css')

  //- Online/Offline
  //- link(href='bower_components/c3/c3.css', rel='stylesheet', type='text/css')
  link(href='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.8/c3.min.css', rel='stylesheet', type='text/css')
  
  link(href='/css/app.css', rel='stylesheet', type='text/css')

  //- Online/Offline
  //- script(src='/bower_components/angular/angular.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js")
body
  #top-wrapper.container-fluid
    .row.clearfix
      .col-md-6
        #graph-editor-module.well.module
          h2.module-title Network
          .row.clearfix
            .col-md-12
              #graph-editor-container(vphi-graph-editor-canvas)
              form.form-horizontal.control-panel(role="form")
                .form-group.form-group
                  label.control-label.col-sm-2(for="past-state-chooser") Past state:
                  .col-sm-7
                    button#past-state-chooser.btn.btn-md.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                      #selected-past-state 1, 1, 0
                      span.caret
                      span.sr-only Toggle past state selection dropdown
                    ul#possible-past-states.dropdown-menu(role='menu')
                      li
                        strong A, B, C
                  .col-sm-3
                    button#show-help.btn.btn-md.btn-default(type='button', data-toggle="modal", data-target="#graph-editor-help") Show Controls
      .col-md-6
        #concept-space-module.well.module
          h2.module-title Conceptual structure
          .row.clearfix
            .col-md-12
              #concept-space-container
                #concept-space-overlay.hidden &nbsp;
              #concept-space-loading-spinner.hidden
                .tetrominos
                  .tetromino.box1
                  .tetromino.box2
                  .tetromino.box3
                  .tetromino.box4
          .row.row-centered.clearfix
            .col-centered
              .control-panel.btn-toolbar(role='toolbar')
                .btn-group.pull-right
                  button#reset-camera.btn.btn-md.btn-default(type='button')
                    | Reset Camera
                  button#switch-view.btn.btn-md.btn-default(type='button')
                    | Switch View
                  button#toggle-grids.btn.btn-md.btn-default(type='button')
                    | Toggle Grids
                  button#toggle-ignored-axes.btn.btn-md.btn-default(type='button')
                    | Toggle Ignored Axes
    hr
    .row.row-centered.clearfix
      .col-centered
        #main-control-module.module
            button#btn-calculate.btn.btn-lg.btn-primary(type='button', data-loading-text='Calculating…', ng-controller="vphiCalculateButtonCtrl" ng-click="click()")
              | Calculate
    hr
    .row.clearfix
      .col-md-12
        section#output-summary-module.module(ng-controller="vphiOutputSummaryCtrl")
          h2.module-title Summary
          .row.row-centered.clearfix
            .col-centered
              .summary-items
                #phi-value.item.well
                  .output-label Φ 
                  .number-7 {{bigPhi}}
                #minimal-cut.item.well
                  .output-label Minimal cut
                  .number-7 {{minimalCut}}
                #num-concepts.item.well
                  .output-label # concepts
                  .number-2 {{numConcepts}}
                #sum-small-phi.item.well
                  .output-label Sum of φ
                  .number-7 {{sumSmallPhi}}
    .row.clearfix
      .col-md-12
        section#concept-list-module.module(ng-controller="vphiConceptListCtrl")
          h2.module-title Concepts
          .concept.well(ng-controller="vphiConceptCtrl" ng-repeat="concept in concepts", id="concept-{{$index}}")
            .concept-data
              .row.row-centered.clearfix
                .col-xs-4
                  ul
                    li
                      .small-phi-past
                        .output-label(class="{{smallPhiPastClass}}") φ
                          sub p
                        .number-7 {{smallPhiPast}}
                    li
                      .small-phi-mips
                        .output-label Cause MIP:
                        .math-output(mathjax-bind="causeMip")
                        span.hidden-xs.spacer &nbsp;
                        .output-label Partitioned:
                        .math-output(mathjax-bind="partitionedCauseMip")
                .col-xs-4
                  button.mechanism.btn.btn-lg.btn-primary
                    | {{mechanism}}
                  hr
                  .small-phi
                    .output-label φ
                    .number-7 {{smallPhi}}
                .col-xs-4
                  ul
                    li
                      .small-phi-future
                        .output-label(class="{{smallPhiFutureClass}}") φ
                          sub f
                        .number-7 {{smallPhiFuture}}
                    li
                      .small-phi-mips
                        .output-label Effect MIP:
                        .math-output(mathjax-bind="effectMip")
                        span.hidden-xs.spacer &nbsp;
                        .output-label Partitioned:
                        .math-output(mathjax-bind="partitionedEffectMip")
            .row.clearfix
              .col-md-6
                .repertoire-container
                  .row.clearfix
                    .col-md-12
                      h5.repertoire-title Past Repertoire
                      .repertoire(vphi-repertoire-chart, direction="cause")
              .col-md-6
                .repertoire-container
                  .row.clearfix
                    .col-md-12
                      h5.repertoire-title Future Repertoire
                      .repertoire(vphi-repertoire-chart, direction="effect")

  #graph-editor-help.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title Graph-editing controls
          .modal-body
            ul.commands
              li <strong>Double-click</strong> to add nodes.
              li <strong>Click and drag</strong> to add edges.
              li <strong>Hold shift + click and drag</strong> to reposition nodes.
              li <strong>Click a node</strong> to select it. New nodes are automatically selected.
              li When a node is selected: 
                ul
                  li Press <span class="keyboard">spacebar</span> to turn the node on or off.
                  li Press <span class="keyboard">m</span> to change the node's mechanism.
                  li Press <span class="keyboard">r</span> to change whether the node has a self-loop.
                  li Press <span class="keyboard">delete</span> or <span class="keyboard">backspace</span> to delete the node.
                  li Press <span class="keyboard">t</span> to change the node's threshold. The threshold only has an effect when the mechanism is <span class="keyboard">></span> or <span class="keyboard"><</span>.
              li <strong>Click an edge</strong> to select it. New edges are automatically selected.
              li When an edge is selected:
                ul
                  li Press <span class="keyboard">d</span> to change the direction of the edge.
                  li Press <span class="keyboard">b</span> to make the edge bidirectional.
                  li Press <span class="keyboard">delete</span> or <span class="keyboard">backspace</span> to delete the edge.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
  // TODO *** minify
  
  //- Online/Offline
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js')
  //- script(src='/bower_components/jquery/jquery.min.js')

  //- TODO minify?
  script(src='/js/lib/jquery.jsonrpcclient.js')
  //- script(src='/bower_components/jquery-jsonrpcclient/jquery.jsonrpcclient.js')

  //- Online/Offline
  //- TODO get minified versions
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js')
  //- script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js')
  //- script(src='/bower_components/d3/d3.js')

  //- Online/Offline
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  //- script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js')
  //- script(src='/bower_components/underscore/underscore.js')

  //- TODO get minified versions
  //- Online/Offline
  script(src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.8/c3.min.js')
  //- script(src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.8/c3.js')
  //- script(src='/bower_components/c3/c3.js')

  //- Online/Offline
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js')
  //- script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.js')
  //- script(src='/bower_components/threejs/build/three.js')

  script(src='/js/lib/TrackballControls.js')
  script(src='/js/lib/Detector.js')

  //- Online/Offline
  script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
  //- IMPORTANT: If loading from Bower, need to load the config file also
  // script(src='/bower_components/MathJax/MathJax.js')
  // script(src='/bower_components/MathJax/config/TeX-AMS-MML_HTMLorMML.js')

  script(src='/js/app.js')

  //- Online/Offline
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  //- script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js')
  //- script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
