sol_cyan = rgb(42, 161, 152)
sol_background = #fffdf9

edge_color = #000
node_off_color = rgb(136, 136, 136)
node_on_color = sol_cyan
node_label_color = rgb(238, 238, 238)
node_radius = 18

body
  padding-top 50px
  background sol_background

#vphi-canvas
  margin-bottom 25px
  text-align center

.btn-default
  background #ccc

.btn-primary
  background sol_cyan

#vphi-controls
  margin-bottom 25px
  #vphi-btn-calculate
    width 150px

#vphi-output-phi
  font-size 130%
  font-weight bold
  width 150px
  letter-spacing .25ex

svg
  background sol_background
  border 1px solid #ccc
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
  border-radius 5px
  &:not(.active):not(.shiftkey)
    cursor crosshair
    path
      &.link
        cursor pointer

path.link
  fill none
  stroke edge_color
  stroke-width 5px
  cursor default
  opacity 0.75
  &.selected
    stroke-dasharray 10, 3
  &.dragline
    pointer-events none
  &.hidden
    stroke-width 0

.arrow-head
  fill edge_color

circle.node
  stroke-width 1.5px
  cursor pointer
  &.reflexive
    stroke #444 !important
    stroke-width 3.5px
  &.selected
    &.on
      fill lighten(node_on_color, 10)
    &.off
      fill lighten(node_off_color, 10)

text
  font 12px sans-serif
  pointer-events none
  &.node-label
    text-anchor middle
    &.id
      font-weight bold
