@import "styles/colors"
@import "styles/tetromino"

node_radius = 18

body
  padding-top 50px
  background sol_background

#network-container, #concept-space-container
  margin-bottom 25px

#concept-space-container
  position relative

#concept-space-overlay
  z-index 10
  display block
  position absolute
  height 100%
  top 0
  left 0
  right 0
  background rgba(255, 255, 255, 0.3)

.btn-default
  background #ccc

.btn-primary
  background sol_cyan

.control-panel
  margin 10px 0 10px 0

#btn-calculate
  width 175px

#output-phi
  font-size 130%
  font-weight bold
  width 150px
  letter-spacing .25ex

canvas, svg
  border 1px solid #ccc
  border-radius 5px

svg
  background sol_background
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
  &:not(.active):not(.shiftkey)
    cursor crosshair
    path
      &.link
        cursor pointer

path.link
  fill none
  stroke edge_color
  stroke-width 5px
  cursor default
  opacity 0.75
  &.selected
    stroke-dasharray 10, 3
  &.dragline
    pointer-events none
  &.hidden
    stroke-width 0

.arrow-head
  fill edge_color

circle.node
  stroke-width 1.5px
  cursor pointer
  &.reflexive
    stroke #444 !important
    stroke-width 3.5px
  &.selected
    &.on
      fill lighten(node_on_color, 10)
    &.off
      fill lighten(node_off_color, 10)

text
  font 12px sans-serif
  pointer-events none
  &.node-label
    text-anchor middle
    &.id
      font-weight bold
